h1{
    color: #3d3dee;
    background-color: #040441;
}
h2{
    color: #3d3dee;
    background-color: #040441;
}
h3{
    color: white;
    background-color: #040441;
}
li{
    list-style-type: square;

}